@import 'normalize.css';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #23232d;
    color: white;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title {
        font-size: 40px;
        margin: 50px 0 42px;
    }

    &__input,
    &__output {
        display: block;
        width: 500px;
        line-height: 1.5;
        margin: 5px 0 20px;
    }
}